# Node dependencies
node_modules/

# Web build
web/node_modules/
web/dist/
web/.astro/
web/.env
web/.env.production

# Studio build
studio/node_modules/
studio/dist/
studio/.sanity/
studio/*.local
studio/*.tsbuildinfo

# Logs
*.log
/logs

# OS
.DS_Store
*.pem

# IDE
.idea/
.vscode/
studio/.vscode
web/.vscode