---

---

<section>
  <div class="container">
    <div class="section-top-wrap">
      <div class="section-title-wrap">
        <div class="decor-line"></div>
        <h2 class="section-title">
          <span>Why</span>virtually 100% of attempts to reach wealthy target
          groups with agencies or in-house teams burn capital, ruin reputations,
          and fail mercilessly.
        </h2>
      </div>
      <p class="section-text">
        We are in the midst of the greatest wealth transfer in history¹. A new
        generation is taking the helm. But while the market's cards are being
        reshuffled, time is working against you. If you approach this shift with
        outdated methods, you don't just miss an opportunity—you risk being
        permanently displaced by technologically superior competitors.
      </p>
    </div>
    <ul class="why-list">
      <li class="why-item">
        <span class="why-item-num">01</span>
        <h3 class="why-item-title">Analyze Potential now & Book Demo</h3>
        <p class="why-item-text">
          Even if your message is excellent: Standard marketing methods...
          inevitably lead to nowhere. T he Analysis: These methods are blind.
          They cannot see liquidity. And how could they? They simply lack the
          technology... to identify creditworthiness before the click. The
          Consequence: You are financing reach among people who can never afford
          your offer. 90% of your budget evaporates ineffectively...
        </p>
      </li>
      <li class="why-item">
        <span class="why-item-num">02</span>
        <h3 class="why-item-title">Systematic Reputation Destruction</h3>
        <p class="why-item-text">
          To compensate for a lack of precision, many service providers reach
          deep into the "bag of tricks" of mass marketing: hype, artificial
          pressure, and loud promises. With a wealthy clientele (U-HNWIs), you
          achieve the exact opposite... The Consequence: You don’t win clients;
          you ruin your status—often forever. Your offer is not perceived as an
          exclusive opportunity, but devalued as "huckster-like."
        </p>
      </li>
      <li class="why-item">
        <span class="why-item-num">03</span>
        <h3 class="why-item-title">
          The Glass Ceiling of Networks & Referrals
        </h3>
        <p class="why-item-text">
          You continue to rely on personal contacts... Albert Einstein defined
          insanity as: "Doing the same thing over and over again and expecting
          different results." A network is organic, but it is not scalable. The
          Consequence: You wait passively for the phone to ring... Anyone still
          hoping today that "referrals are enough" will be overrun by reality.
          Without systemization, a lucrative exit moves into the distant future.
        </p>
      </li>
    </ul>
  </div>
</section>

<style>
  section {
    background-image: url("/src/images/home/why-bg.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .section-top-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
    margin-bottom: 80px;
  }
  .section-title-wrap {
    position: relative;
    padding-left: 16px;
    width: 674px;
    flex-shrink: 0;
  }
  .decor-line {
    height: 110px;
  }
  .section-text {
    width: 390px;
    color: var(--navy-2, #19244e);
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.48px;
  }
  .why-list {
    display: flex;
    gap: 24px;
  }
  .why-item {
    width: calc((100% - 48px) / 3);
  }
  .why-item-num {
    margin-bottom: 14px;
    color: var(--Blue-accent, #2c4888);
    font-size: 96px;
    font-weight: 400;
    line-height: 80px;
    text-transform: uppercase;
  }
  .why-item-title {
    margin-bottom: 14px;
    color: var(--Navy-3, #2e406a);
    font-size: 20px;
    font-weight: 600;
  }
  .why-item-text {
    color: var(--navy-70, rgba(35, 47, 72, 0.7));
    font-size: 14px;
    line-height: 153%; /* 21.42px */
  }
</style>
