---
import type { SiteSettingsType } from "../../types/sanity";

const { navLinks, buttonText, buttonHref } = Astro.props
  .content as SiteSettingsType;
---

<header class="header">
  <div class="decor-top-line"></div>
  <div class="container">
    <nav class="header-nav">
      <a href="/" class="header-logo">
        <img src="/logo.svg" alt="Estefano Elhawary" class="header-logo" />
      </a>
      <div class="header-right-wrap">
        <ul class="header-nav-links-list">
          {
            navLinks.map((link) => (
              <li>
                <a href={link.href} class="header-link">
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
        {
          buttonText && (
            <a href={buttonHref} class="header-button">
              {buttonText}
            </a>
          )
        }
      </div>
    </nav>
  </div>
  <div class="decor-bottom-line"></div>
</header>
<style>
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(24px);
    background: rgba(247, 234, 225, 0.24);
    z-index: 100;
  }
  .header-logo {
    flex-shrink: 0;
  }
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  .header-logo {
    width: 176px;
  }
  .header-right-wrap {
    display: flex;
    align-items: center;
    gap: 144px;
  }
  .header-nav-links-list {
    display: flex;
    gap: 43px;
    align-items: center;
  }

  .header-link {
    position: relative;
    padding: 10px 0;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #0d172e;
  }
  .header-link::after {
    content: url("/src/images/icons/header-link-icon.svg");
    display: block;
    width: 19px;
    position: absolute;
    left: 50%;
    bottom: -21px;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
  }

  /* Показать иконку при hover
  .nav-link:hover::after,
  .nav-link.active::after {
    opacity: 1;
  } */

  .header-button {
    border: 1px solid #101a39;
    border-radius: 222px;
    padding: 12px 23px;
    min-width: 145px;
    color: var(--Navy-1, #101a39);
    font-family: "Red Hat Display";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
  }
  .decor-top-line {
    margin-bottom: 11px;
    width: 100%;
    height: 5px;
    background:
      linear-gradient(
        90deg,
        #9c6a3e 0%,
        #ffd0bc 10.33%,
        #501c07 17.79%,
        #ae5e35 28.85%,
        #f4b18a 35.58%,
        #b97148 40.87%,
        #3d0d00 44.71%,
        #0d0300 50.96%,
        #3e0d00 59.22%,
        #f4b18a 72%,
        #b97148 75%,
        #260c01 88.68%,
        #090000 100%
      ),
      linear-gradient(
        161deg,
        #9c735d 0.96%,
        #bf8852 13.94%,
        #fdebda 32.21%,
        #f5bf93 54.59%,
        rgba(255, 225, 200, 0) 100%
      );
  }
  .decor-bottom-line {
    width: 100%;
    height: 1px;
    background:
      linear-gradient(
        90deg,
        #9c6a3e 0%,
        #ffd0bc 10.33%,
        #501c07 17.79%,
        #ae5e35 28.85%,
        #f4b18a 35.58%,
        #b97148 40.87%,
        #3d0d00 44.71%,
        #0d0300 50.96%,
        #3e0d00 59.22%,
        #f4b18a 72%,
        #b97148 75%,
        #260c01 88.68%,
        #090000 100%
      ),
      linear-gradient(
        161deg,
        #9c735d 0.96%,
        #bf8852 13.94%,
        #fdebda 32.21%,
        #f5bf93 54.59%,
        rgba(255, 225, 200, 0) 100%
      );
  }
</style>
