---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Results — Estefano Elhawary">
  <section>
    <div class="container">
      <h1>Results page</h1>
    </div>
  </section>
</Layout>
