---
import PolygonIcon from "../../images/icons/polygon.svg";
import LCircleIcon from "../../images/icons/outer-circle.svg";
import SCircleIcon from "../../images/icons/inner-circle.svg";
interface MainButtonLinkProps {
  text: string;
  href?: string;
  extraStyles?: string; // Дополнительные классы Tailwind или кастомные
}

// 2️⃣ Деструктуризация с типами
const {
  text = "MainButton",
  href = "#",
  extraStyles = "",
} = Astro.props as MainButtonLinkProps;
---

<a href={href} class={`hero-btn ${extraStyles}`}
  ><span>{text}</span>
  <span class="icons-wrap">
    <PolygonIcon class="polygon" />
    <LCircleIcon class="l-circle" />
    <SCircleIcon class="s-circle" />
  </span>
</a>

<style>
  .hero-btn {
    position: relative;
    padding: 18px 72px 18px 24px;
    border-radius: 222px;
    background: var(
      --gradient-blue,
      linear-gradient(
        81deg,
        #202f58 3.23%,
        #415fa0 26.18%,
        #1a284d 43.2%,
        #0e172f 80.4%
      )
    );
  }
  .hero-btn > span {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.16px;
    background: linear-gradient(
      90deg,
      #fdebda 8.63%,
      #e6c9ba 32.98%,
      #bf8852 46.54%,
      #f5bf93 57.64%,
      #be804d 83.33%,
      #ffe1c8 101.4%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .icons-wrap {
    width: 72px;
    height: 72px;
    position: absolute;
    top: -6px;
    right: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .l-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .polygon {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
  }

  @keyframes spin-clockwise {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes spin-counter {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  .hero-btn:hover .l-circle {
    animation: spin-counter 2s linear infinite;
  }

  .hero-btn:hover .s-circle {
    animation: spin-clockwise 3s linear infinite;
  }
</style>
